/* Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


/* Zerar */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins';
}





/* Navbar e página inicial */

.comeco {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-principal {
    position: absolute; 
    width: 65%;
    height: 100%;
    background-image: url(../img/praia-principal.jpg);
    z-index: -1; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}


.navbar {
    width: 100%;
    margin: auto;
    padding: 3px 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(73, 147, 172, 1), transparent);
    position: relative;
}

.navbar ul{
    margin-top: -3px;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
  
.navbar ul li a {
    text-decoration: none;
    color: #FFFFF0;
    text-transform: uppercase;
    text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.3);
}

.navbar-btn {
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 50px;
    background: transparent;
    color: #FFFFF0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.navbar-btn:hover {
    border: 3px solid #21c4d3;
    border-radius: 50px;
    color: #FFFFF0;
}

.login-btn {
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    border: 3px solid #21c4d3;
    border-radius: 50px;
    background: transparent;
    color: #FFFFF0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.login-btn:hover {
    border: 3px solid transparent;
    background-color: #21c4d3;
    color: #FFFFF0;
}

.logo {
    width: 70px;
    margin-left: -320px;
}

#barra-icone {
    width: 35px;
}

.btn-barra {
    display: none; /* Inicialmente oculto */
}




/* API */


.envolve-container {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.icone img {
    width: 20px; 
    height: 20px; 
}

/* Classe helper para ajudar a esconder áreas quando elas não precisam ser exibidas*/
.hide {
    display: none !important;
    position: relative;
}

.container_api {
    position: absolute;
    top: -32px;
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 1rem;
    color: #fdfdfd;
    border-radius: 4rem;
    z-index: 1;
    left: -10px;
    background: rgba(33, 175, 211, 0.648); 
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);  /* pra funcionar nos navegadores safari */
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#wind span {
    position: relative;
    left: -28px;
}

#lupa-api {
    position: relative;
    left: 0px;
    bottom: -4px;
}

#gota-api {
    position: relative;
    left: 28px;
    bottom: -3px;
}

#vento-api {
    position: relative;
    left: -5px;
    bottom: -3px;
}

/* Form */

.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: .7rem;
    border: none;
    flex: 1;
    border-radius: 40px;
    width: 265px;
    font-size: 14px;
}

.form button {
    padding: .1rem;
    min-width: 50px;
    margin-left: 4px;
    background-color: #8dd0f5;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}


/* Clima */

#weather-data, #error-message, #loader {
    border-top: 1px solid #fff;
    margin-top: 2rem;
    padding-top: 0.6rem;
    text-align: center;
}

#icon-spinner {
    position: relative;
    top: 0px;
    left: 3px;
}


#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4rem;
}

#weather-data h2 i {
    font-size: 1rem;
    position: relative;
    left: 10px;
}

#weather-data span {
    margin: 0.6rem;
}

#city {
    position: relative;
    left: -9px;
}

#temperature {
    font-size: 4rem;
    left: 1px;
    position: relative;
}

#country {
    height: 50px;
    position: relative;
    left: -8px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    left: 14px;
    position: relative;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#details-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -11px;
}

#details-container #humidity {
    border-right: 1px solid #fff;
    margin: .6rem;
    padding: .6rem;
}




/* Loader */
#loader i {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
}
}



/* a caixinha que desce do menu, quando a tela está muito pequena para acomodar todos os botões da navbar */
.barra-caixinha {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(33, 175, 211, 0.648); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  /* pra funcionar nos navegadores safari */
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.barra-caixinha li {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-caixinha .envolve-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.barra-caixinha.open {
    height: 240px;
}


@media (max-width: 1060px) {
    .navbar ul {
        display: none;
    }

    .navbar .btn-barra {
        display: block;
        position: relative;
        left: 250px;
        margin-top: -75px;
    }

    .barra-caixinha {
        display: block;
    }

}


.conteudo {
    margin-top: 125px;
    color: #FFFFF0;
    position: relative;
    margin-left: 120px;
    display:flex;
    flex-direction: row;
}

.conteudo-esquerda {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -45px;
    left: -20px;
}

.conteudo-titulo {
    text-transform: uppercase;
    text-align: left;
    font-size: 65px;
    text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.8);
}

#conteudo-titulo-abaixo {
    color: #21c4d3;
    text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.btn {
    margin-top: 70px;
}


.inscrever-btn {
    display: inline-block;
    text-decoration: none;
    color: #120817;
    background-color: #612a79;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    right: -10px;
    position: relative;
    bottom: 40px;
}

.inscrever-btn:hover span {
    background-color: #c9a3d9;
}

.inscrever-btn:active span {
    transform: none;
}

.inscrever-btn span {
    display: inherit;
    border-radius: inherit;
    background-color: #d6b4e4;
    padding: 1rem 2rem;
    transform: translate(0.25rem, -0.25rem); /* Correção na propriedade transform */
    border: 2px solid #612a79;
    transition: translate 100ms 
        cubic-bezier(0.175, 0.885, 0.32, 1.275), 
        background-color 250ms;
}

#conteudo-direita {
    margin-top: -40px;
    transform: rotate(5deg);
}


#conteudo-direita:before, #conteudo-direita:after{
    margin-top: -30px;
    content: "";
    position: absolute;
    height: 50px;
    width: 180px;
    background-color: rgba(102, 102, 102, 0.6);
    transform: rotate(-40deg);
    overflow: visible;
}

#conteudo-direita:before {
    top: 28px;
    left: -55px;
}

#conteudo-direita:after {
    bottom: 3px;
    right: -60px;
}


.conteudo-mensagem {
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: -5px;
}

#msg-1 {
    margin-top: 2px;
}

#msg-2 {
    margin-top: 5px;
}

#msg-3 {
    margin-top: 5px;
}

/* Quando a largura da tela for pelo menos 100px */
@media screen and (min-width: 100px) {
    .conteudo-esquerda h1 {
        font-size: 65px;
        text-align: center;
    }
}

/* Quando a largura da tela for no máximo 1060px */
@media screen and (max-width: 1060px) {
    /* Diminui as frases da página principal */
    .conteudo-esquerda h1 {
        font-size: 50px;
        position: relative;
        left: -20px;
    }

    /* Diminui as frases da página principal */
    .conteudo-mensagem h1 {
        font-size: 45px;
    }

    /* Diminui o botão de "crie sua conta" */
    .inscrever-btn {
        font-size: 12px;
        right: 20px;
    }
    /* Diminui a imagem do card  */
    .conteudo .praia-imagem {
        height: 200px;
    }
    /* Diminui o tamanho do card */
    .conteudo .card {
        height: 100px;
        padding-bottom: 350px; 
    }
    /* Diminui o tamanho do adesivo do card */
    #conteudo-direita:before, #conteudo-direita:after {
        width: 140px;
    }
}




























/* Seção de usuários */

.apresentacao {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 50px;
    overflow-x: hidden;
}

.titulo-apresentacao {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 40px;
    color: #21C4D3;
}


.parte {
    display: block;
    padding: 20px;
}

.parte ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.usuario-descricao {
    text-transform: uppercase;
    font-size: 39px;
    font-weight: bold;
    position: relative;
}

#descricao-1 {
    margin-right: 600px;
}

#descricao-2 {
    margin-left: 475px;
}

#descricao-3 {
    margin-right: 600px;
}

#img-parte-1 {
    position: relative;
    border-radius: 50% 80% / 70% 10%;
    width: 500px;
    right: 25px;
}

#img-parte-2 {
    position: relative;
    border-radius: 80% 50% / 10% 70%;
    width: 500px;
    left: 25px;
}

#img-parte-3 {
    position: relative;
    border-radius: 50% 80% / 70% 10%;
    width: 500px;
}

/* Animação de bolhas */
.bubble {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    opacity: 0.7;
    border-radius: 2px solid #00ffff;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
	    box-shadow: -4px 5px 5px #00ffff, -5px 5px 5px #00ffff, inset -6px 6px 5px #00ffff, inset 2px 6px 5px #A4FFFF, inset 5px -5px 5px white, inset 5px -5px 5px #a8ceff;
}


.dot {
    height: 10px;
	width: 10px;
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 20%;
	right: 20%;
}

.bubblediv:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.bubble:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.bubble:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 5s linear infinite;
}

.bubble:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.bubble:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.bubble:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.bubble:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.bubble:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.bubble:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.bubble:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.bubble:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.bubble:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.bubble:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.bubble:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.bubble:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}


/* Quando a largura da tela for pelo menos 100px */
@media screen and (min-width: 100px) {

    /* Posição normal da descrição e imagem do surfista */

    #img-parte-2 {
        left: 25px;
    }

    #descricao-2 {
        margin-left: 475px;
    }
}

/* Quando a largura da tela for no máximo 1060px */
@media screen and (max-width: 1060px) {
    /* Estamos movendo a descrição e imagem do surfista para a esquerda, conforma vamos diminuindo a tela */
    #img-parte-2 {
        left: 2px;
    }

    #descricao-2 {
        margin-left: 30px;
    }
}























/* Cards Selecionáveis */

.cards-selecionaveis {
    padding-top: 120px;
    background-color: #fff;
    padding-bottom: 300px;
}

.titulo-container {
    padding: 0 5vw;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: 'Poppins';
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 0 9vw;
}
#alga {
    width: 2px;
}
/* Fazer o card crescer de tamanho */
.card:hover {
    transform: scale(1.1);
}

.card {
    width: 336px;
    height: 440px;
    position: relative;
    background-color: #fff;
    padding: 19px 19px 400px 19px; 
    box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.45); 
    transition: 0.4s;
    margin: 10px;
}

.card ._{
    display: block;
    margin:50px auto 10px;
    width: 100px;
    height:150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 15px #7e878d;
}

.praia-imagem {
    height: 300px;
    width: 100%; 
    margin-bottom: 10px;
    background-position: center;
    background-size: cover; 
    object-fit: cover;
}

.nome-praia {
    color: #2c2c2c;
    font-size: 20px;
    text-justify: distribute;
}

.praia-descricao {
    font-family: 'Poppins', cursive;
    font-size: 15px;
    color: #2c2c2c;
    text-align: justify;
    width: 100%;
    padding-top: -2px; 
}

/* Largura máxima de 1024 px */
@media screen and (max-width: 1024px) {
    /* Redimensiona o card quando a largura da tela é no máximo 1024 px*/
    .card {
        width: calc(33.3vw - 20px); 
        padding-bottom: 500px; 
    }
    
    .direction {
        display: none; 
    }
}

/* Largura máxima de 768 px */
@media screen and (max-width: 768px) {
    /* Redimensiona os cards conforme a tela vai ficando pequena */
    .card {
        width: calc(50vw - 20px);
    }
   
    .direction {
        display: none; 
    }
}


#img-card-1 {
    background-image: url('../img/praia01.jpg')
}

#img-card-2 {
    background-image: url('../img/praia02.jpeg')
}

#img-card-3 {
    background-image: url('../img/praia03.jpg')
}

#img-card-4 {
    background-image: url('../img/praia04.jpg')
}

#img-card-5 {
    background-image: url('../img/praia05.jpg')
}

#img-card-6 {
    background-image: url('../img/praia06.jpg')
}




























/* Footer */

footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: -50px;
}

.footer {
    position: relative;
    width: 100%;
    background: #89CFF0;
    height: 150px;
    padding: 5px 50px;
}

footer .wave {
    position: absolute;
    top: -78px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);  
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
}

footer .icons li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline;
    transition: 0.5s;
}

footer .icons li a:hover {
    transform: translate(-10px);
}

.icons img {
    width: 30px;
}

/* ícone do email*/
#envelope {
    padding-top: 8px;
    width: 35px;
}

footer .menu li a {
    font-size: 1em;
    color: #fff;
    margin: 0 10px;
    display: inline;
    transition: 0.5s;   
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 0.9;
}

footer .icons, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li, footer .menu li{
    list-style: none;
}


footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

@keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}


#alga {
    position: absolute;
    width: 100px;
    top: 75px;
    left: 210px;
}

#alga2 {
    position: absolute;
    width: 55px;
    top: 95px;
    right: 260px;
}

























/* Página de login e inscrição */

/* Partes comuns aos 2 formulários, login e registro */
.formularios {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-image: url(../img/praia-login.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}


.caixa {
    background-color: whitesmoke;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgray;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 135px;
}


.btn-formulario {
    margin-top: 29px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #21C4D3;
    text-align: center;
}

.btn-formulario button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 15px;
    font-size: 20px;
}

.btn-cor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #21C4D3, #9CC4D3);
    border-radius: 30px;
    transition: .3s;
}

#btn-login {
    margin-left: 14px;
}


i {
    position: absolute;
    left: 0;
    padding: 10px 20px;
}

i img {
    width: 20px;
}
.email {
    top: 35px;
}

.senha {
    top: 114px;
}

form {
    position: absolute;
    margin-top: 81px;
    transition: .5s;
    width: 300px;
    height: 400px;
}


/* área de login */
#login {
    left: 25px;
}

input[type="email"], input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    padding-left: 60px;
}

button[type="submit"] {
    background: #21C4D3;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.checkbox {
    margin: 10px 0 0 5px;
    width: 90%;
    font-size: 13px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.btn-esquecer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13.5px;
    color: #2378B0;
    font-weight: 500;
    top: 275px;
}

#btn-submit {
    margin-top: 20px;
}

#btn-submit-registro:hover, #btn-submit:hover {
    background: #51C4D3;
}


/* Área de registro de novo usuário */

#registro {
    left: 450px;
    margin-top: 70px;
}


.voltar-pagina-principal {
    position: relative;
    display: flex;
    top: -285px;
    right: 600px;
    filter: drop-shadow(0 0 10px rgba(169, 169, 169, 1));
    width: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.voltar-pagina-principal img {
    position: relative;
    transform: scaleX(-1);
    top: -20px;
    right: 130px;
    width: 45px;
}

.voltar-pagina-principal p {
    position: relative;
    right: 120px;
    color: #fff;
    top: -20px;
}

.senha2 {
    top: 190px;
}
